@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2.25rem;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

img {
  border-radius: 2rem;
}

button {
  background-color: #3882f6;
  border: none;
}

.dark-section {
  display: flex;
  background-color: #1f2937;
  flex-flow: row;
  gap: 2rem;
  padding: 4rem 6rem;
}

.dark-section img {
  width: 50%;
  height: auto;
  flex-shrink: 1;
}

.info-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0rem 4rem 4rem 4rem;
}

.item-group {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: fit-content;
  gap: 1rem;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.item p {
  text-align: center;
  font-size: 0.875rem;
}

.item-card {
  width: 8rem;
  height: 8rem;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 4rem 8rem;
}

.quote-section h3 {
  font-size: 2.25rem;
  font-weight: 100;
  font-style: italic;
}

.quote-section p {
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}

.cta-section {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 4rem;
}

.cta-box {
  background-color: #3882f6;
  padding: 2rem 5rem;
  border-radius: 8px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
}

.cta-text {
  display: flex;
  flex-flow: column;
}

.cta-text h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  margin-bottom: -0.5rem;
}

.cta-text p {
  font-size: 1rem;
  font-weight: 200;
  color: white;
}

.cta-box button {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  align-self: center;
}

.footer {
  background-color: #1f2937;
  padding: 1rem 2rem;
  justify-content: left;
  color: white;
  font-weight: 200;
  font-size: 0.75rem;
}

.hero-info {
  flex-direction: column;
  color: white;
}

.hero-info p {
  font-size: 1.125rem;
  color: #e5e7eb;
}

.hero-info button {
  background-color: #3882f6;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: #1f2937;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #3882f6;
}
